@model WEB2020Apr_P06_T02.Models.Customer
@{
    ViewData["Title"] = "Member's Area | Change Password";
}

<style>
    .input {
        margin-bottom: 20px;
        height: 45px;
        width: 55%;
        font-size: 23px;
    }

    .inputWrapper label {
        display: block;
    }
</style>


<h1>Change Password</h1>
<hr />
<form method="post" action="~/Customer/ChangePassword">
    <!-- go to the customer controller and changepassword action(a method)-->
    <fieldset class="loginFieldset">
        <div class="inputWrapper">
            <label for="currentPass">Current Password:</label>
            <input class="input" type="password" name="currentPass" placeholder="Current Password *"
                   id="currentPass" required /><br />
        </div>

        <div class="inputWrapper">
            <label for="newPass">New Password:</label>
            <input class="input" type="password" name="newPass" placeholder="New Password *"
                   id="newPass" required /><br />
        </div>

        <div class="inputWrapper">
            <label for="currentPass">Confirm Password:</label>
            <input class="input" type="password" name="confirmPass" placeholder="Confirm Password *"
                   id="confirmPass" required /><br />
        </div>
        <input type="submit" id="btnChangePass" value="Change Password" style="width:30%; height:45px; font-size: 23px;" />
        <br />
        <span style="color:red;">@TempData["Failure"]</span>
        <span style="color:green;">@TempData["Success"]</span>
    </fieldset>
</form>

