@model IEnumerable<WEB2020Apr_P06_T02.Models.CountryInformation>

@{
    ViewData["Title"] = "Lion City Airlines | Country Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Country Information</h1>
<hr />
@if (Model != null)
{
    <div class="table-responsive">
        <table id="search" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Region</td>
                        <td>
                            <a asp-action="CountryDetails" asp-controller="Home"
                               asp-route-id="@item.Name">View</a>
                        </td>            
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}