@model WEB2020Apr_P06_T02.Models.AssignViewModel

<div class="table-responsive">
    <table id="viewStaff" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Schedule ID</th>
                <th>Staff ID</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FlightCrewList)
            {
                <tr>
                    <td>@item.ScheduleID.ToString()</td>
                    <td>@item.StaffID</td>
                    <td>@item.Role</td>
                    <td>
                        <a asp-action="Change" asp-controller="Admin"
                           asp-route-id="@item.ScheduleID">Change Role</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


